<!DOCTYPE html>
<html>

<head>
    <title>Demo Builder</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <script src="{{url_for('static', filename='demobuilder.js')}}"></script>
    <script src="../static/demobuilder.js"></script>
    <!--<script src="{{url_for('static', filename='demobuilder.js')}}"></script>-->

</head>

<body class="m-3 has-text-white-ter">
    <section class="hero is-small has-background-text-10">
        <div class="hero-body">
            <p class="title">Demo Builder</p>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="card" id="builder-card">
                {% if "credentials" not in session %}
                <div class="card-content">
                    <p>Please login to build your demo environment.</p>
                    {% if error != "" %}
                    <div class="is-size-6 has-text-danger-30 has-text-weight-bold" id="error_message">{{error}}</div>
                    {% endif %}
                </div>
                <footer class="card-footer">
                    <a href="/login" class="card-footer-item">Login</a>
                </footer>
                {% else %}
                <div class="card-content">
                    <div>Click the button below to buildout your demo environment.</div>
                    <div class="mt-3 has-text-white has-text-weight-bold" id="current_status"></div>
                    <div class="has-text-link-40" id="project_name"></div>
                    <div class="has-text-success-20" id="client_id"></div>
                    <div class="is-size-6 has-text-danger-30 has-text-weight-bold" id="error_message"></div>
                </div>
                <footer class="card-footer">
                    <a href="#" id="builderlink" class="card-footer-item"
                        onclick="showModal('new-demo-dialog');return false;">Build
                        Now</a>
                    <a href="/logout" class="card-footer-item">Logout</a>
                </footer>
                {% endif %}
            </div>
            <div class="card">
                <header class="card-title">
                    <p class="card-header-title">Existing Projects</p>
                </header>
                <div class="card-content">
                    <div class="content" id="project_list">
                        Login to view your projects
                    </div>
                </div>
            </div>
        </div>
    </section>
    <input type="hidden" id="email" value="{{email}}">
    <inpyt type="hidden" id="selected-demo" value="fintech">
        <div id="new-demo-dialog" class="modal">
            <div class="modal-background" onclick="hideModal('new-demo-dialog');"></div>
            <div class="modal-close" onclick="hideModal('new-demo-dialog');"></div>
            <div class="modal-card">
                <header class="modal-card-head has-background-grey-dark">
                    <p class="modal-card-title">Demo Environment</p>
                </header>
                <section id="new-demo-content-section" class="modal-card-body has-background-black-ter">
                    <form>
                        <div class="content">
                            <input type="radio" checked id="demo-financial" name="demotype" value="fintech">
                            <label for="demo-financial">FinTech Demo</label>
                        </div>
                        <div class="content"><input type="radio" id="demo-general" name="demotype" value="userprofile">
                            <label for="demo-general">User
                                Profile Demo (coming soon)</label>
                        </div>
                    </form>
                    <div class="box"><strong>Custom Demo Name</strong> (optional): <input class="input" type="text"
                            placeholder="Enter a name for your demo" id="demo-custom-name" name="demo-name">
                    </div>
                </section>
                <section class="modal-card-foot has-background-black-ter buttons">
                    <button class="button is-info is-dark is-medium is-fullwidth"
                        onclick="demobuilder('{{email}}');">Build
                        it!</button>
                </section>
            </div>
        </div>
</body>

</html>